body { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: white;
}

label { 
	display: inline-block; 
}

div:not(.worldGoals) { 
	margin: 3px 0; 
}

figure {
  padding: 3px;
  margin: auto;
  display: inline-block; 
}

a {
  color: black;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
  display: block;
}
.trackingArea {
   display: table;
   width: 100%;
}
.cell {
   display: inline-block;
}
.col {
   display: inline-block;
   margin: 0px;
}
.isNeeded {
	background-color: darkred;
}
.isNeeded.isCollected {
	background-color: darkgreen;
}
.isNeeded.hasSubstitute {
	background-color: #8b8000;
}
.worldGoals.image {
   display: block;
   margin-top: 1px;
}
.worldGoals.image.blocked {
   opacity: 0.2;
}
.worldGoals.cell {
   margin-left: -2px;
   margin-bottom: 0px;
   margin-right: 2px;
}

.worldIcon.castle {
	background-repeat: no-repeat;
	background-size: 64px 70px;
	background-position: left 1px top 1px;
}
.worldIconImage {
   position: relative;
   margin-top: 13px;
   margin-left: -1px;
}
.worldIconImage.castle {
	margin-left: 6px;
	margin-right: 6px;
}
.world-1 {
	background-color: #e0f8a0;
}
.world-2 {
	background-color: #a3e7f0;
}
.world-3 {
	background-color: #f2c7de;
}
.world-4 {
	background-color: #d7c0e0;
}
.world-5 {
	background-color: #b7c6de;
}
.world-6 {
	background-color: #e9afb3;
}
.infoBox {
	color: white;
	margin: 0px;
	padding: 0px;
}
div.infoBox {
    font-weight: normal;
	display: table;
	width: 100%;
}
div.infoBox .row {
	position: relative;
	margin-top: 2px;
	width: 100%;
}
div.infoBoxText.status {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.infoBoxText {
	white-space: pre-wrap;
}
label.infoBoxLabel {
    font-weight: bold;
}
.collectable-substitute {
	position: absolute;
	display: none;
	left: 2px;
	bottom: 6px;
	z-index:1;
}
.collectable-substitute.hasSubstitute {
	display: block;
}
.worldGoals {
	position: relative;
}
.worldGoals.col {
	margin-bottom: 3px;
}
.row.world {
	padding-right:2px;
}
.collectable {
	position: relative;
}
.worldgoal-substitute {
	position: absolute;
	display: none;
	left: 8px;
	bottom: -4px;
	z-index:1;
}
.worldgoal-substitute.hasSubstitute {
	display: block;
}
.worldgoal-lenseNeeded {
	position: absolute;
	display: none;
	left: 8px;
	top: -1px;
	z-index:1;
}
.worldgoal-lenseNeeded.isNeeded {
	display: block;
}
.worldgoal-hardMode {
	position: absolute;
	display: none;
	left: 0px;
	top: -1px;
	z-index:1;
}
.worldgoal-hardMode.show {
	display: block;
}
.app {
	display:table;
	margin: 0px;
	padding: 0px;
}
div {
	position: relative;
}
a {
	z-index:1;
}
.isNotOpen figure {
	display: none;
}
.isNotOpen div.worldGoals {
	display: none;
}
div.worldLabel {
	color: black;
	margin: 2px;
	margin-left: 16px;
	font-weight: bold;
}
.isOpen div.worldLabel {
	display: none;
}
.worldFinishedImage {
	display: none;
    content: url(../images/states/golden_frame_with_medal.png);
	position: absolute;
	right:-1px;
	bottom:11px;
	z-index:1;
}
.castle .worldFinishedImage {
    content: url(../images/states/Medal.png);
    width: 17px;
}
figure.worldIcon {
	position: relative;
	margin-left:1px;
}

figure.worldIcon.isFinished .worldFinishedImage {
	display: block;
}
figure.worldIcon.level-4 {
	background-image: url(../images/worlds/Castle_4.png);
}
figure.worldIcon.level-8 {
	background-image: url(../images/worlds/Castle_8.png);
}
figure.worldIcon.isFinished.level-4 {
	background-image: url(../images/worlds/Castle_4_gold.png);
}
figure.worldIcon.isFinished.level-8 {
	background-image: url(../images/worlds/Castle_8_gold.png);
}
figure.worldIcon.noOpenGoals:not(.castle) .worldIconImage{
   opacity: 0.2;
}
figure.worldIcon.noOpenGoals:not(.castle) .worldLabel{
   opacity: 0.2;
}
figure.worldIcon.noOpenGoals.castle{
   opacity: 0.2;
}
.worldCollider {
   content: url(../images/states/plus.png);
   position: absolute;
   width: 12px;
   left: 2px;
   top: 2px;
   z-index: 1;
}
.isOpen .worldCollider {
   content: url(../images/states/minus.png);
}
.worldLockToggle {
   content: url(../images/states/lock_open.png);
   position: absolute;
   z-index: 1;
   height: 12px;
}
.worldLockToggle.isLocked {
   content: url(../images/states/lock_closed.png);
}
.isLocked:not(.isFinished) img.worldIconImage {
   content: url(../images/worlds/unknown.png);
}
.goalType-Game {
   z-index: 1;
   bottom: 0px;
   left: -16px;
   position: absolute;
   display: none;
}

.Minigame-Bandit .goalType-Game {
	display: block;
}
.Minigame-Bandit .worldGoals.col {
	margin-bottom: 2px;
}
.level-10 {
	display: none;
}
.Minigame-Bonus .isOpen .level-10 {
	display: inline-block;
}
.level-9 {
	display: none;
}
.Extra-Level .isOpen .level-9 {
	display: inline-block;
}
.littleDisplayField {
	width: 40px;
	display: inline-block;
}
div.app {
	display: inline-block;
	margin-top: 0px;
	vertical-align: top;
}
.options {
	height: 100vh;
	z-index: 1;
	border-left: solid 1px;
	padding-left: 10px;
}
label.summary {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-left: 20px;
}
select {
	display: table;
}
input.textField {
	display: table;
}
div.optionsGroup {
	margin-left: 30px;
}
div.optionsGroup br.separate {
	margin-bottom: 10px;
}
.app.main {
	display: inline-block;
	padding-right: 10px;
}
div.summary {
	margin: 0px;
}
div.summaryInline {
	display: inline-block;
	margin: 0px;
}
input.summary {
	display: inline-block;
}
.summaryInline {
	display: inline-block;
}
label.summary.LuigiPieces {
	display: none;
}
.goal-Luigi-Pieces label.summary.LuigiPieces {
	display: inline-block;
}
div.summary:not(.LuigiPieces) {
	margin-top: 3px;
}
img.optionToggle {
	float: right;
	width: 38px;
	margin-left: 20px;
}
.options.HideOptions {
	display: none;
}